<div class="col-md-8 blog-main">


  <div class="blog-post">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      <%= @user.name %>のプロフィール
    </h3>

    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
        <th colspan="3"></th>
      </tr>

      </thead>

      <tbody>
      <tr>
        <td>
          <%= @user.name %>
        </td>
        <td>
          <%= @user.email %>
        </td>
      </tr>
      </tbody>
    </table>


    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="<%= url_for controller: 'articles', action: 'index' %>">戻る </a>
      <%= link_to '変更', {controller: 'users', action: 'edit', id: session_id_is?}, class: "btn btn-outline-danger" %>
    </nav>
  </div>
</div>
