<div class="col-md-8 blog-main">


  <div class="blog-post">

    <h3 class="pb-3 mb-4 font-italic border-bottom">
      投稿一覧
    </h3>
    <% @results.each do |top_result| %>
      <h2 class="blog-post-title">
        <a href="/show/4" class="text-dark">
          <%= top_result.title %>
        </a>
      </h2>
      <p class="blog-post-meta">
        作成日時:<%= time_ago_in_words top_result.created_at %>
        更新日時:<%= time_ago_in_words top_result.updated_at %>
        作成者:<%= top_result.user.name %><br>
        <% top_result.tag.each do |t| %>
          <a href="#" class="badge badge-secondary">
            <%= t.name %>
          </a>
        <% end %>
      </p>

      <p><%= truncate(top_result.content, length: 30) %></p>

    <% end %>

    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="<%= url_for controller: 'page', action: 'show', id: @page_number - 1 %>">前へ </a>
      <a class="btn btn-outline-primary" href="<%= url_for controller: 'page', action: 'show', id: @page_number + 1 %>">次へ</a>
    </nav>

  </div>


</div><!-- /.blog-main-->

