<% @results.each do |top_result| %>
  <div class="blog-post">
    <h2 class="blog-post-title mt-10">
      <a href="<%= url_for controller: 'articles', action: 'show', id: top_result.id %>" class="text-dark">
        <%= top_result.title %>
      </a>
    </h2>
    <p class="blog-post-meta">
      作成日時:<%= time_ago_in_words top_result.created_at %>
      更新日時:<%= time_ago_in_words top_result.updated_at %>
      作成者:<%= top_result.user.name %><br>
      <% top_result.tag.each do |t| %>
        <a href="<%= url_for controller: 'tags', action: 'show', id: t.id %>" class="badge badge-secondary">
          <%= t.name %>
        </a>
      <% end %>
    </p>

    <p><%= md_to_html truncate(top_result.content, length: 100) %></p>
  </div>
  <hr>
<% end %>
