<div class="container">
  <header class="blog-header py-3">
    <div class="text-center">
      <a class="blog-header-logo text-dark" href="/"><%= ApplicationHelper::APP_NAME %></a>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-2">
    <a class="p-2 text-muted" href="<%= url_for controller: 'articles', action: 'index' %>">Top</a>
    <a class="p-2 text-muted" href="/">このブロクについて</a>
    <% if login_in? %>
      <a class="p-2 text-muted" href="<%= url_for controller: 'articles', action: 'new' %>">投稿</a>
      <%= link_to 'ログアウト', logout_path, method: :delete, class: "p-2 text-muted" %>
      <%= link_to 'タグ管理', tags_url, class: "p-2 text-muted" %>
      <%= link_to login_user_is, {controller: 'users', action: 'show', :id => session_id_is?}, class: "p-2 text-muted" %>
    <% else %>
      <a class="p-2 text-muted" href="<%= url_for controller: 'sessions', action: 'new' %>">ログイン</a>
    <% end %>
  </div>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Ruby on Railsを<br>勉強していく!!!</h1>
      <p class="lead my-3">学習したことをblogに書き<br>このブログに実装していく!!!</p>
    </div>
  </div>
</div>
